@model OnlineDellShowroom.Models.UserSignup

@{
    Layout = "~/Views/Layout/UserLayout.cshtml";
    ViewBag.Title = "User Profile";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">User Profile</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Firstname</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Firstname)</dd>

                        <dt class="col-sm-3">Lastname</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Lastname)</dd>

                        <dt class="col-sm-3">Date of Birth</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Dateofbirth)</dd>

                        <dt class="col-sm-3">Gender</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

                        <dt class="col-sm-3">Mobile Number</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Mobilenumber)</dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-3">Address</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

                        <dt class="col-sm-3">State</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.State)</dd>

                        <dt class="col-sm-3">City</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.City)</dd>

                        <dt class="col-sm-3">Username</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Username)</dd>
                    </dl>
                </div>
            </div>
            <div class="text-center mt-4">
                @Html.ActionLink("Edit Profile", "EditProfile", new { userSignupId = Model.UserSignupId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("View products", "Index", new { area = "" }, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>