<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - User Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CSS/User.css" rel="stylesheet" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <!-- Navbar for the user section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Dell Logo -->
            <a class="navbar-brand" href="#">
                <img src="~/Content/Images/delltechnologies.png" alt="Dell Logo" height="30" />
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- Display the username if the user is authenticated -->
                    <span class="nav-link">Welcome, @User.Identity.Name!</span>
                </li>
            </ul>
            <!-- Toggler Button for Collapsible Navbar -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Items -->
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "User", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    @if (User.Identity.IsAuthenticated) // Check if the user is authenticated
                    {
                        <!-- Profile -->
                        <li class="nav-item">
                            @Html.ActionLink("Profile", "UserProfile", "User", new { area = "" }, new { @class = "nav-link" })
                        </li>

                        <!-- View Cart -->
                        <li class="nav-item">
                            @Html.ActionLink("View cart", "ViewCart", "User", new { area = "" }, new { @class = "nav-link" })
                        </li>

                        <!-- My Orders -->
                        <li class="nav-item">
                            @Html.ActionLink("My orders", "OrderHistory", "User", new { area = "" }, new { @class = "nav-link" })
                        </li>

                    }
                    <li class="nav-item">
                        <!-- Logout -->
                        @Html.ActionLink("Logout", "Logout", "User", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Main content for the user section -->
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- Footer for the user section -->
    <hr />
    <footer class="footer bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Product Categories</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Desktops & All-in-Ones</a></li>
                        <li><a href="#">Gaming</a></li>
                        <li><a href="#">Monitors</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Product Support</a></li>
                        <li><a href="#">Drivers & Downloads</a></li>
                        <li><a href="#">Warranty & Contracts</a></li>
                        <li><a href="#">Contact Support</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">About Dell</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Newsroom</a></li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-md-right">
                    <p><i class="fa fa-envelope"></i> support@dellshowroom.com</p>
                    <p><i class="fa fa-phone"></i> +1 123-456-7890</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <p>&copy; @DateTime.Now.Year - Dell Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>

</html>
